/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,200&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  --bg: white;
  --dom: #4281a4;
  --accent: #fe938c;
  --h1: #ead2ac;
}

#root {
  display: flex;
}

.cart-wrapper {
  height: 100vh;
  width: 0%;
  background-color: var(--bg);
  transition: all 0.6s ease-in-out;
}

.cart-wrapper.show {
  transition: all 0.6s ease-in-out;
  width: clamp(400px, 50%, 50%);
  background-color: var(--accent);
}

.app-wrapper {
  flex: 1 1 auto;
  display: grid;
  grid-template-rows: 70px 1fr;
}

.app_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_header_nav {
  background-color: var(--dom);
  color: var(--h1);
  font-weight: 600;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.app_header_nav_left {
  display: flex;
  gap: clamp(2%, 5%, 10%);
}

.app_header_nav {
  padding: 0 clamp(4%, 15%, 18%);
}

.app_header_nav a {
  color: inherit;
  text-decoration: none;
}

.app_header_nav button {
  background-color: transparent;
  border: 0;
  border-radius: 1rem;
  padding: 5px 10px;
  background-color: var(--dom);
  color: var(--h1);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
}

.app_products {
  display: grid;
  grid-template-rows: minmax(300px, 50vh) 1fr;
}

.app_products_prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5vh 0;
}

.app_products_prompt h1 {
  /* font-size: 10vmin; */
  font-weight: 600;
  padding: 3vh 0;
}

.app_products_gallery {
  display: grid;
  grid-template-rows: auto 1fr 200px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.app_products_gallery_search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.app_products_gallery_search-bar input {
  height: 10vmin;
  width: 77%;
  padding: 0 3%;
  font-size: 4vmax;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  border-bottom: 4px solid transparent;
  transition: all 0.5s ease;
}
.app_products_gallery_search-bar input::placeholder {
  padding: 0 2%;
  border-left: 4px solid var(--accent);
  transition: all 1s ease;
}

.app_products_gallery_search-bar input:focus::placeholder {
  color: transparent;
  border: 0;
}

.app_products_gallery_search-bar input:focus {
  outline: 0;
  border-color: var(--accent);
}

.app_products_gallery_filter-sort {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 1vh 5% 0;
}
.app_products_gallery_filter-sort_filter {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}
.app_products_gallery_filter-sort_filter input {
  width: 60px;
  border: 0;
  border-bottom: 1px solid transparent;
  padding: 5px 3px;
  transition: all 0.3s ease-in-out;
}
.app_products_gallery_filter-sort_filter input:focus {
  outline: 0;
  border-color: var(--accent);
}

.app_products_gallery_products {
  display: grid;
  padding: 0 10%;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  gap: 0 10vmin;
}

.app_products_gallery_products_product {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 5vh 0;
  border-bottom: 1px solid var(--h1);
}

.app_products_gallery_products_product_text {
  display: grid;
  gap: 2vh;
}

.app_products_gallery_products_product h1 {
  width: 200px;
  font-weight: 600;
}

.app_products_gallery_products_product p {
  padding-left: 1%;
}

.app_products_gallery_products_product_image {
  width: 150px;
  height: 250px;
}

.app_products_gallery_products_product img {
  height: auto;
  width: 100%;
  object-fit: scale-down;
}

.app_products_gallery_products_load-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app_products_gallery_products_load-more button {
  border: 0;
  border-bottom: 0px solid var(--h1);
  background-color: transparent;
  color: var(--dom);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 20px;
}
.app_products_gallery_products_load-more button:hover {
  border-bottom-width: 1px;
}
.app_products_gallery_products_load-more button:active {
  transform: translateY(2px);
}

.app_home {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
}

.app_home_greeting a {
  text-decoration: none;
  color: var(--dom);
  font-weight: 600;
}

.app_home_greeting {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 5vh 5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
}

.app_home_greeting_links {
  padding: 2vh 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3%;
  font-size: 0.9rem;
}

.app_home_arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5%;
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 100%;
  text-decoration: none;
  color: var(--bg);
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.5s ease;
}

.app_home_arrow:hover {
  transition: all 0.5s ease;
  outline: 1px solid var(--accent);
  outline-offset: 5px;
  transform: translateX(-1%);
}

blockquote {
  border-left: 4px solid var(--accent);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
